body {
    margin: 60px auto;
    width: 70%;
    background: #CCCCCC;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 10px;
    list-style: none;
    font-weight: bold;
    background: black;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 5px;
    list-style: none;
    font-weight: bold;
    background: black;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: black;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: black;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px; 
}
.sidenavea {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidenaveahover {
    color: #f1f1f1;
}
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
